img
{
width: 1000px;
height:500px;
}

body
{
backgrond-size:cover;
background-image:url('sunset.jpg');
}
h1
{
color :green;
font-size:200%;
text-align:center;
}
p
{
color:violet;
font-size:200%;
text-align:center;
}
ul li
{
display:inline-block;
font-size:200%;
padding:20px;
border:1px solid black;
}
ul
{
text-align:center;
}
